{% extends "base.html" %}
{% block content %}

<div id=login>
<!-- https://developers.google.com/identity/sign-in/web/server-side-flow --> 

<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '113872604807-4qn3vc6v2ve33dng9orve7960aj031dm.apps.googleusercontent.com'
      });
    });
  }
</script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<body>  

<!-- Setup FB Java SDK -->
<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '463326664245858',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v4.0'
      });
    };
  </script>
  <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<!-- End Setup FB Java SDK-->  

     
<!-- GOOGLE PLUS SIGN IN BUTTON-->
<div class="row ">
    <button class="col-2" style="margin: 0 auto; float: none" id="signinButton">Google Sign in</button> 
</div>
<!--END GOOGLE PLUS SIGN IN BUTTON -->

<hr>

<!-- FACEBOOK SIGN IN BUTTON -->
<div class="row ">
<button class="col-2" style="margin: 0 auto; float: none" >
  <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();"> 
    <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
  </fb:login-button>
</button>
</div>
<!-- END FACEBOOK SIGN IN BUTTON-->

<div id="result"></div>
</div>

<!-- SIGN IN CALL BACK FUNCTION -->
<script>
    $('#signinButton').click(function(){
    function signInCallback(authResult){          
      //app is authorised
      if (authResult['code']){
      //hide sign-in button
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            // Always include an `X-Requested-With` header in every AJAX request,
            // to protect against CSRF attacks.
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            contentType: 'application/octet-stream; charset=utf-8',
            processData: false,
            //one time code
            data: authResult['code'],
              success: function(result){
                  if(result){
                      $('#result').html('Login Succesfull!<br>' + result +'<br> Redirecting......')
                      setTimeout(function(){
                          window.location.href = '/'
                      },3000)
                  }
              }
          })
        //error 
      }else if (authResult['error']){
          console.log('There was an error' + authResult['error'])
      } //no result
      else{
           $('#result').html("Failed to make call, check your console!")
        }
    }
    auth2.grantOfflineAccess().then(signInCallback);
    });

    function sendTokenToServer(){
      var access_token = FB.getAuthResponse()['accessToken'];
      console.log("Access Token is " + access_token)
      //send the one time access token  to server
      $.ajax(
        {
          type: 'POST',
          processData: false,
          data: access_token,
          url: '/fbconnect?state={{STATE}}',
          contentType: 'application/octet-stream; charset=utf-8',
          headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
          success: function(result){
                      if (result) {
                          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                          setTimeout(function() {
                                      window.location.href = "/";
                          }, 3000);
                        } else {
                          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                        }
        }
      } 
      )

    }

</script>       
<!-- END CALLBACK FUNCTION -->

{% endblock %}

 