{% extends "base.html" %}
{% block content %}
    <h2 class=" text-dark text-center"> ITEM '{{item.name}}' </h2>
    <div class="row" style="background: white">

        <div class="col-6">
            <h3 class="text-danger text-center">NAME: </h3>
        </div>
        <div class="col-6">
            <h4 class=" text-center text-dark"> {{item.name}} </h4>
        </div>

        <hr>

        <div class="col-6">
            <h3 class="text-danger text-center">Category: </h3>
        </div>
        <div class="col-6">
            <h4 class=" text-center text-dark"> {{item.category.name}} </h4>
        </div>

        <hr>

        <div class="col-6">
            <h3 class="text-danger text-center">Created By: </h3>
        </div>
        <div class="col-6">
            <h4 class=" text-center text-dark"> {{item.user.name}} </h4>
            <h4 class=" text-center text-dark"> {{item.user.email}} </h4>
        </div>

        <hr>

        <div class="col-6">
            <h3 class="text-danger text-center">Description: </h3>
        </div>
        <div class="col-6">
            <h4 class=" text-center text-dark"> {{item.description}} </h4>
        </div>

        <hr>

     <a class="h3 col-12 text-center" href="{{url_for('updateItem',id =item.id)}}">Edit</a>
    <a class="h3 col-12 text-center" href="{{url_for('deleteItem',id = item.id)}}">Delete</a>

    </div>


{% endblock %}